<ion-header class="masters">
  <ion-toolbar>
    <ion-title align="center"><b>PROFIL RESTORAN</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
			<ion-card-content>
		  	<img src="assets/ss.jpg" height="300" width="300">
		</ion-card-content>
	</ion-card>

	<ion-card class="card">
		<ion-card-header>
			<ion-card-title>Spesial Sambal</ion-card-title>
			<ion-label href="#" class="activated">
		    	<ion-icon name="star"></ion-icon>
		    	<ion-icon name="star"></ion-icon>
		    	<ion-icon name="star"></ion-icon>
		    	<ion-icon name="star"></ion-icon>
		    	<ion-icon name="star"></ion-icon>
		</ion-label>
		</ion-card-header>

		 <ion-item href="#">
		    	<ion-icon name="pin" slot="start"></ion-icon>
		<ion-label>
            <h3>Jl Veteran</h3>
             <p>No.122.(0856-2575-039)</p>
          </ion-label>
		  </ion-item>

		<ion-item>
		    	<ion-icon name="time" slot="start"></ion-icon>
		    	<ion-label>Buka Pukul 10:00</ion-label>
		 </ion-item>


	</ion-card>
	<ion-button expand="block" [routerLink]="['/tabs', 'permintaan']">Pemesanan</ion-button>

</ion-content>
