<ion-header class="masters">
  <ion-toolbar>
    <ion-title align="center"><b>PEMESANAN MENU</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
  	<img src = "assets/serbasambel.jpg"/>
  </ion-card-content>
  <ion-card-content>
  	<ion-tab-bar slot ="bottom">
		<ion-tab-button tab="permintaan">
			<ion-icon name="alert"></ion-icon>
			<ion-label>Permintaan</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="menumakan">
			<ion-icon name="journal"></ion-icon>
			<ion-label>Menu</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
  </ion-card-content>
</ion-card>
  <h3 style="text-align: center">MENU PAKET</h3>

  <ion-list>
       <ion-item>
          <ion-avatar slot="start">
            <img src="assets/ayam.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Paket Ayam</h3>
             <p>Ayam goreng-nasi-sambel-lalapan</p>
          </ion-label>      
        </ion-item>       
         <ion-item>
          <ion-avatar slot="start">
            <img src="assets/lele.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Paket Lele</h3>
             <p>Ayam goreng-nasi-sambel-lalapan</p>
          </ion-label>
        </ion-item>
        </ion-list>

<h3 style="text-align: center">MENU PORSI</h3>
  <ion-list>
       <ion-item>
          <ion-avatar slot="start">
            <img src="assets/ayam.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Ayam</h3>
             <p>Bakar/Goreng</p>
          </ion-label>
        </ion-item>        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/lele.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Lele</h3>
             <p>Bakar/Goreng</p>
         </ion-label>
        </ion-item>
          <ion-item>
          <ion-avatar slot="start">
            <img src="assets/sambel.jpg">
          </ion-avatar>
          <ion-label>
            <h3>Sambel Matah</h3>
          </ion-label>
        </ion-item>        
        <ion-item>
          <ion-avatar slot="start">
            <img src="assets/kecap.jpg">

          </ion-avatar>
          <ion-label>
            <h3>Sambel Kecap</h3>
         </ion-label>
        </ion-item>
        </ion-list>
        <ion-button expand="block" [routerLink]="['/tabs', 'pemesanan']">PESAN</ion-button>
</ion-content>


