<ion-header>
  <ion-searchbar [ngStyle]="{'background-color':'#4498DF'}"  showCancelButton="never" animated (ionInput)='filterjson($event)'></ion-searchbar>
</ion-header>

<ion-content>
<ion-card *ngFor="let item of jsondata" [routerLink]="['/tabs', 'profil', item.title]">
	<ion-card-header>
		<ion-grid>
			<ion-row>
				<ion-col>
					<div><img src="{{item.img}}" height="200" width="400"></div>
				</ion-col>
			</ion-row>
		</ion-grid>
	</ion-card-header>
	<ion-card-title style="text-align: center;">{{item.title}}</ion-card-title>
	<ion-card-content style="text-align: justify;"><ion-icon name="pin" slot="start"></ion-icon>{{item.lokasi}}</ion-card-content>
</ion-card><br><br>
</ion-content>

