<ion-header class="masters">
  <ion-toolbar>
    <ion-title align="center"><b>PESANAN ANDA</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card >
  <ion-card-content>
  <img src="assets/serbasambel.jpg">
  </ion-card-content>
</ion-card>

<ion-card class="card">
    <ion-card-header>
    <ion-card-title>Info Pesanan Anda</ion-card-title>
  </ion-card-header>
  <ion-item href="#" class="activated">
    <ion-icon name="calendar" slot="start"></ion-icon>
    <ion-label>Hari ini</ion-label>
  </ion-item>

  <ion-item href="#">
    <ion-icon name="people" slot="start"></ion-icon>
    <ion-label>2 Orang</ion-label>
  </ion-item>

  <ion-item class="activated">
    <ion-icon name="person" slot="start"></ion-icon>
    <ion-label>Vioni</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon name="time" slot="start"></ion-icon>
    <ion-label>Pukul 20:00</ion-label>
  </ion-item>

 <ion-item>
    <ion-icon name="pin" slot="start"></ion-icon>
    <ion-label>JL. veteran</ion-label>
  </ion-item>

</ion-card>
<ion-button expand="block" [routerLink]="['/tabs', 'pembayaran']">BAYAR</ion-button>
</ion-content>
<!--<ion-footer>
  <div padding>
    <ion-button size="large" href="/login" expand="block">Logout</ion-button>
  </div>
</ion-footer>-->


