<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
						<img src="assets/logo.png" height="200" width="200">
			</div>
			<div text-center>
						<h4>Login Form</h4>
			</div>
			<div padding>
				<form class="form" [formGroup]="validations_form"  (ngSubmit)="loginUser(validations_form.value)">
				<ion-item>
					<ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
				</ion-item>
				<div class="validation-errors">
			      <ng-container *ngFor="let validation of validation_messages.email">
			        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
			          {{ validation.message }}
			        </div>
			      </ng-container>
			    </div>

				<ion-item>
					<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
				</ion-item>
				<div class="validation-errors">
			      <ng-container *ngFor="let validation of validation_messages.password">
			        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
			          {{ validation.message }}
			        </div>
			      </ng-container>
			    </div>
				<ion-button type="submit" size="large" [disabled]="!validations_form.valid" expand="block">Login</ion-button>
				<label class="error-message">{{errorMessage}}</label>
			</form>
			</div>
		</ion-col>
		<p>Belum mempunyai akun? <a href="/register"> Daftar disini!</a></p>
	</ion-row>
</ion-grid>