
<ion-tabs>
	<ion-tab-bar slot ="bottom" class="masters">
		<ion-tab-button tab="home">
			<ion-icon name="home"></ion-icon>
			<ion-label>Beranda</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="aktivitas">
			<ion-icon name="bookmarks"></ion-icon>
			<ion-label>Aktivitas</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="pembayaran">
			<ion-icon name="cart"></ion-icon>
			<ion-label>Pembayaran</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="akun">
			<ion-icon name="person"></ion-icon>
			<ion-label>Akun Saya</ion-label>
		</ion-tab-button>

	</ion-tab-bar>
</ion-tabs>

