<ion-header class="masters">
  <ion-toolbar>
    <ion-title align="center"><b>PROFIL</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>   
<ion-card class="profile">
            <img src="assets/kucing.jpg" height="200" width="300">
       
            <h3 align="center">Vioni Retno Gita Leri</h3>
             <p align="center">vioni@gmail.com</p>
</ion-card>  

        <ion-list>                   
          <ion-item href="text-wrap" class="actived">
            	<ion-icon name="mail-unread" slot="start"></ion-icon>
            <ion-label>Kontak Masuk</ion-label>
          </ion-item>
                  
          <ion-item href="text-wrap" class="actived">
              <ion-icon name="send" slot="start"></ion-icon>
            <ion-label>Terkirim</ion-label>
          </ion-item>

          <ion-item href="text-wrap" class="actived">
              <ion-icon name="archive" slot="start"></ion-icon>
            <ion-label>Transaksi</ion-label>
          </ion-item>

          <ion-item href="text-wrap" class="actived">
              <ion-icon name="settings" slot="start"></ion-icon>
            <ion-label>Pengaturan</ion-label>
          </ion-item>

          <ion-item href="login" class="actived">
              <ion-icon name="exit" slot="start"></ion-icon>
            <ion-label>Keluar</ion-label>
          </ion-item>
      </ion-list>
</ion-content>
