ion-card {
  height: 35%;
}

body{
    text-align: center;
    background: #00ECB9;
  font-family: sans-serif;
  font-weight: 100;
}

h1{
  color: #4498DF;
  font-weight: 100;
  font-size: 40px;
  margin: 40px 0px 20px;
}

.link{
  margin-top: 40px;
}

a{
  display: inline-block;
  color: #fff;
  font-size: 5px;
  padding: 10px;
  background: #265;
  border-radius: 5px;
  text-decoration: none;
}

a:hover{
  background: #487;
}

#clockdiv{
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 50;
    position: relative;
    text-align: center;
    font-size: 15px;
}

#clockdiv > div{
    padding: 5px;
    border-radius: 3px;
    background: #00BF96;
    display: inline-block;
}

#clockdiv div > span{
    padding: 15px;
    border-radius: 3px;
    background: #00816A;
    display: inline-block;
}

.smalltext{
    padding-top: 5px;
    font-size: 16px;
}

.masters{
    --ion-background-color:  #4498DF;
}

.card {
    transform: translateX(-50%) translateY(-50%);
    top: 50%;
    left: 50%;
    position: absolute;
}