<ion-header class="masters">
  <ion-toolbar>
    <ion-title align="center"><b>PEMBAYARAN</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<ion-card-header tab="pembayaran">
	<ion-icon name="clock"></ion-icon>
	<ion-label> Selesaikan pemesanan dalam</ion-label>
</ion-card-header>
<ion-card-content class="card">
<div id="clockdiv">
    <div><span class="hours"></span><div class="smalltext">Jam</div></div>
    <div><span class="minutes"></span><div class="smalltext">Menit</div></div>
    <div><span class="seconds"></span><div class="smalltext">Detik</div></div>
</div>
</ion-card-content>
</ion-card>
</ion-content>

