<ion-header class="masters">
  <ion-toolbar>
    <ion-title align="center"><b>PERMINTAAN</b></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-content>
  	<img src = "assets/serbasambel.jpg"/>
  </ion-card-content>
  <ion-card-content>
  	<ion-tab-bar slot ="bottom">
		<ion-tab-button tab="permintaan">
			<ion-icon name="alert"></ion-icon>
			<ion-label>Permintaan</ion-label>
		</ion-tab-button>
		<ion-tab-button tab="menumakan">
			<ion-icon name="journal"></ion-icon>
			<ion-label>Menu</ion-label>
		</ion-tab-button>
	</ion-tab-bar>
  </ion-card-content>
</ion-card>
<h5 style="text-align: center"><b>Pesan Tempat dan Waktumu..</b></h5>
<ion-item>
    <ion-label>--Jumlah Orang--</ion-label>
    <ion-select>
      <ion-select-option >2 orang</ion-select-option>
      <ion-select-option >4 orang</ion-select-option>
      <ion-select-option >6 orang</ion-select-option>
      <ion-select-option >8 orang</ion-select-option>
      <ion-select-option >10 orang</ion-select-option>
      <ion-select-option >12 orang</ion-select-option>
      <ion-select-option >14 orang</ion-select-option>
      <ion-select-option >16 orang</ion-select-option>
      <ion-select-option >18 orang</ion-select-option>
      <ion-select-option >20 orang</ion-select-option>
      <ion-select-option >22 orang</ion-select-option>
      <ion-select-option >24 orang</ion-select-option>
      <ion-select-option >26 orang</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <h5>Pilih Jam :</h5>
  </ion-item>
  <ion-card-content>
    <ion-tab-bar slot ="bottom">
    <ion-slides [options]="slides">
    <ion-slide>
    <ion-tab-button tab="jam">
      <ion-button color="danger"><h4>10.00-12.00</h4></ion-button>
    </ion-tab-button>
  </ion-slide>
  <ion-slide>
    <ion-tab-button tab="jam">
      <ion-button color="danger"><h4>13.00-15.00</h4></ion-button>
    </ion-tab-button>
  </ion-slide>
  <ion-slide>
    <ion-tab-button tab="jam">
      <ion-button color="danger"><h4>16.00-18.00</h4></ion-button>
    </ion-tab-button>
  </ion-slide>
  <ion-slide>
        <ion-tab-button tab="jam">
      <ion-button color="danger"><h4>19.00-21.00</h4></ion-button>
    </ion-tab-button>
    </ion-slide>
    </ion-slides>
  </ion-tab-bar>
</ion-card-content>

<ion-item>
  <h5>Pilih Tanggal : </h5>
  <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="myDate"></ion-datetime>
</ion-item>
<ion-button expand="block" [routerLink]="['/tabs', 'menumakan']">Lanjutkan Pesanan</ion-button>
</ion-content>


