<ion-header class="masters">
  <ion-toolbar>
    <ion-title align="center"><b>SELAMAT DATANG</b></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
		
  <ion-card-content [ngStyle]="{'background-color':'white'}" >

  	<ion-slides [options]="slides1">
	<ion-slide>
		<ion-card>
  	<img class="img" src = "assets/ss.jpg">
  	<ion-button expand="full" [routerLink]="['/tabs', 'profil']">Kunjungi</ion-button>
  </ion-card>
</ion-slide>

<ion-slide>
  <ion-card>
  	<img class="img" src = "assets/solaria.jpg"/>
  	<ion-button expand="full">Kunjungi</ion-button>
  </ion-card>
  	</ion-slide>

  	<ion-slide>
  <ion-card>
  	<img class="img" src = "assets/padang.jpg"/>
  	<ion-button expand="full">Kunjungi</ion-button>
  </ion-card>
  	</ion-slide>

  	<ion-slide>
  <ion-card>
  	<img class="img" src = "assets/kfc.jpg"/>
  	<ion-button expand="full">Kunjungi</ion-button>
  </ion-card>
  	</ion-slide>

  	<ion-slide>
  	<ion-button style="position: relative; align-content: center; margin-top: 50%;" expand="full" [routerLink]="['/tabs', 'listresto']">Resto Lainnya</ion-button>
  	</ion-slide>

	</ion-slides>
  </ion-card-content>

	<ion-item>
		<h3>Promo Untuk Kamu</h3>
	</ion-item>
	<ion-item>
	<ion-slides pager="true" paginationType="progress" [options]="slides">
	<ion-slide *ngFor="let image of ImageArray">
	<img src="{{image.image}}" height="500" width="600"/>
	</ion-slide>
	</ion-slides>
</ion-item>

</ion-content>

