<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<h4>Register Form</h4>
			</div>
			<div padding>
				<form class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
				<ion-item>
					<ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
				</ion-item>
				<div class="validation-errors">
			      <ng-container *ngFor="let validation of validation_messages.email">
			        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
			          {{ validation.message }}
			        </div>
			      </ng-container>
			    </div>

				<ion-item>
					<ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
				</ion-item>
				<div class="validation-errors">
			      <ng-container *ngFor="let validation of validation_messages.password">
			        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
			          {{ validation.message }}
			        </div>
			      </ng-container>
			    </div>

				<ion-button size="large" type="submit" [disabled]="!validations_form.valid" expand="block">Register</ion-button>
				<label class="error-message">{{errorMessage}}</label>
    			<label class="success-message">{{successMessage}}</label>
			</form>
		</div>
		</ion-col>
		<p>Sudah mempunyai akun? <a href="/login"> Masuk disini!</a></p>
	</ion-row>
</ion-grid>